<!-- Start Footer Copyright Bar -->
  <div class="copyright-bar">
    <div class="container">
      <div class="editContent" style=""><p class="pull-left small">
  © <a href="http://www.cleverplacement.com" target="_blank">Cleverplacement</a> 2015
</p></div>
      <div class="editContent" style=""><p style="text-align: right;">
  Designed by
  <a href="http://www.m2rdesign.com" target="_blank">M2R Design</a>
</p></div>
    </div>
  </div>
  <!--// END Footer Copyright Bar --></div>
