
   

 <section id="promo" class="content-block promo min-height-600px bg-offwhite">
   <div class="container">

     <div class="row">

       <div class="col-md-5">
         <div class="editContent" style=""><h2>Smart Marketing for Small Business</h2></div>
         <div class="editContent" style=""><p-editcontent>
 Make informed decisions based on research and data analytics, for you next marketing and public relations campaign. Call us at 210-336-3060 or email us at:
<p></p></p-editcontent></div>
         <div class="row">
           <div class="col-md-6">
             <div class="form-group">
               <input type="text" placeholder="First name" class="form-control">
             </div>
           </div>
           <div class="col-md-6">
             <div class="form-group">
               <input type="text" placeholder="Last name" class="form-control">
             </div>
           </div>
         </div>

         <div class="form-group">
           <input type="text" placeholder="Email address" class="form-control">
         </div>

         <a class="btn btn-primary btn-block">Register Now!</a>

       </div><!-- /.col -->


       <div class="col-md-6 col-md-offset-1">

         <div class="video-wrapper">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/3U1hs2V8ckg" frameborder="0" allowfullscreen=""></iframe>
         </div>

       </div><!-- /.col -->

     </div><!-- /.row -->

   </div>
 </section>
   <!--// END Promo -->

   <!-- Start About -->
 <section id="about" class="content-block about">
   <div class="container">
     <div class="row">
       <div class="col-md-12">

         <div class="underlined-title">
           <div class="editContent" style=""><h1>Marketing &amp; Public Relations</h1></div>
           <hr>
             </div>

         <div class="services-wrapper">
           <div class="col-md-4">
             <div class="icon bg-crete">
               <span class="fa fa-laptop"></span>
             </div>
             <div class="editContent" style=""><h4>Research &amp; Data Analytics</h4></div>
             <div class="editContent" style=""><p>
 Make informed decisions about how to find and target your key public and target market.
</p></div>
           </div>
           <div class="col-md-4">
             <div class="icon bg-finn">
               <span class="fa fa-code"></span>
             </div>
             <div class="editContent" style=""><h4>Programming &amp; Implementation</h4></div>
             <div class="editContent" style=""><p>
 Build a campaign, with time bound and measurable objectives, based on data analytics
</p></div>
           </div>
           <div class="col-md-4">
             <div class="icon bg-sunflower">
               <span class="fa fa-rocket"></span>
             </div>
             <div class="editContent" style=""><h4>Collaborative Evaluation</h4></div>
             <div class="editContent" style=""><p>
 Let us help you evaluate the campaign and figure out where to better spend your advertising budget.
</p></div>
           </div>
         </div>
       </div>
     </div><!-- /.row -->
   </div><!-- /.container -->
 </section>
   <!--// END Content ABOUT -->

   <!-- Start Content Quote -->
 <section class="content-block quote min-height-400px bg-deepocean">
   <div class="container text-center">
     <i class="fa fa-4x fa-quote-left"></i>
     <div class="row">
     <div class="col-sm-10 col-sm-offset-1">
       <div class="item">
         <div class="editContent" style=""><h1>No more playing the next best guess game, thanks to data driven campaigns.</h1></div>
         <div class="editContent" style=""><h3 class="text-muted">Miguel  R. - <a href="http://www.m2rdeisgn.com" target="_blank">M2R Design</a><a href="#"></a></h3></div>
       </div>
     </div>
     </div>
   </div><!-- /.container -->
 </section>
 <!--// END Content Quote -->

 <!-- Start Content Statistics -->
 <section id="statistics " class="content-block statistics ">
   <div class="container">

     <div class="row">

       <div class="col-sm-12">
         <div class="underlined-title">
           <div class="editContent" style=""><h1>Info on Marketing &amp; Public Relations</h1></div>
           <hr>
           <div class="editContent" style=""><h2>Statistics on Marketing, Public Relations, and Small Business</h2></div>
           </div>
       </div>

       <div class="col-sm-3 text-center">
         <div class="counter-icon">
           <span class="fa fa-magic"></span>
         </div>
         <div class="counter-text">
           <div class="editContent" style=""><h3 class="counter">88</h3></div>
           <div class="editContent" style=""><p>
 88% do their own marketing.
</p></div>
         </div>
       </div>

       <div class="col-sm-3 text-center">
         <div class="counter-icon">
           <span class="fa fa-coffee"></span>
         </div>
         <div class="counter-text">
           <div class="editContent" style=""><h3 class="counter">24</h3></div>
           <div class="editContent" style=""><p>
 24 million small businesses in the U.S.
</p></div>
         </div>
       </div>

       <div class="col-sm-3 text-center">
         <div class="counter-icon">
           <span class="fa fa-lightbulb-o"></span>
         </div>
         <div class="counter-text">
           <div class="editContent" style=""><h3 class="counter">70</h3></div>
           <div class="editContent" style=""><p>
 70% are run by one person
</p></div>
         </div>
       </div>

       <div class="col-sm-3 text-center">
         <div class="counter-icon">
           <span class="fa fa-clock-o"></span>
         </div>
         <div class="counter-text">
           <div class="editContent" style=""><h3 class="counter">171</h3></div>
           <div class="editContent" style=""><p>
 $171 Billion spent on paid media every year.
</p></div>
         </div>
       </div>

       <div class="col-sm-12 text-center pad45">
         <div class="editContent" style=""><strong class="white">Various sources where used when referencing the above statistics.</strong></div>
       </div>

     </div><!-- /.row -->

   </div><!-- /.container -->
 </section>


 <!--// END Content Statistics -->

 <!-- Start Content Plan -->
 <section id="plan" class="content-block plan bg-pomegranate">
   <div class="container">
     <!-- Start Row -->
     <div class="row">
       <div class="col-sm-4 col-xs-12 text-center">
         <div class="icon-outline">
           <span class="fa fa-send"></span>
         </div>
         <div class="editContent" style=""><h3>Refine your budget</h3>
<p>
 Find out exactly where your advertising dollar is getting the most return for your small business.
</p></div>
       </div>
       <div class="col-sm-4 col-xs-12 text-center">
         <div class="icon-outline">
           <span class="fa fa-star"></span>
         </div>
         <div class="editContent" style=""><h3>Grow your business</h3>
<p>
 Use the data refining process to better engage your current customer base, and find a new and innovative way to reach na entirely new key public.
</p></div>
       </div>
       <div class="col-sm-4 col-xs-12 text-center">
         <div class="icon-outline">
           <span class="fa fa-tags"></span>
         </div>
         <div class="editContent" style=""><h3>Track and evaluate your results</h3>
<p>
 With our online tracking, and your help with tracking off-line media, we can evaluate  your campaign to better understand where you should spend your advertising dollars.
</p></div>
       </div>
     </div>
     <!--// END Row -->
   </div>
 </section>
 <!--// END Content Plan -->

 <!-- Start Team -->
   <section class="content-block team">
   <div class="container">

     <div class="underlined-title">
       <div class="editContent">
             <h1>Say hello to the team</h1>
       </div>
         <hr>
       </div>

     <div class="row">

       <div class="col-sm-4 team-wrapper">
         <div class="team-item">
           <div class="team-thumb">
             <img src="images/Team-Miguel.png" class="img-responsive" alt="Member Image">
             <div class="image-overlay"></div>
             <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
           </div>
           <div class="team-details">
             <div class="editContent" style=""><h4>Miguel Roblero - CEO</h4></div>
           </div>
         </div>
       </div>
       <!-- /.gallery-item-wrapper -->

       <div class="col-sm-4 team-wrapper">
         <div class="team-item">
           <div class="team-thumb">
             <img src="images/Team-James.png" class="img-responsive" alt="Member Image">
             <div class="image-overlay"></div>
             <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
           </div>
           <div class="team-details">
             <div class="editContent" style=""><h4>James Myrick - CTO</h4></div>
           </div>
         </div>
       </div>
       <!-- /.gallery-item-wrapper -->

       <div class="col-sm-4 team-wrapper">
         <div class="team-item">
           <div class="team-thumb">
             <img src="images/Team-Joe.png" class="img-responsive" alt="Member Image">
             <div class="image-overlay"></div>
             <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
           </div>
           <div class="team-details">
             <div class="editContent" style=""><h4>Joseph Kokenge - CIO</h4></div>
           </div>
         </div>
       </div>
       <!-- /.gallery-item-wrapper -->

     </div>
     <!-- /.row -->
   </div>
   <!-- /.container -->
 </section>
   <!--// End Team -->

   <!-- Start Contact Form -->
   <section class="content-block contact">
   <div class="container text-center">

     <div class="col-sm-10 col-sm-offset-1">

       <div class="underlined-title">
         <div class="editContent" style="">
               <h1>Get in Touch</h1>
         </div>
             <hr>
             <div class="editContent" style="">
               <h2>Feel free to drop us a line to contact us</h2>
         </div>
           </div>

       <div class="editContent" style="">
         <p>Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia.</p>
       </div>
       <div class="editContent" style=""><ul class="contact-info">
 <li><span class="fa fa-map-marker">20020 NW Military Highway 2nd Floor #9, San Antonio, TX 78213</span></li>
 <li><span class="fa fa-phone"></span>(210) 336-3060</li>
 <li><span class="fa fa-envelope"></span><a href="mailto:mail to: info@cleverplacement.com">info@cleverplacement</a><a href="mailto:mail to: mroblero@cleverplacement.com"></a></li>
</ul></div>

       <div id="contact" class="form-container">

                   <div id="message"></div>

         <form method="post" action="js/contact-form.php" name="contactform" id="contactform">
           <div class="row">
             <div class="col-sm-4">
               <div class="form-group">
                                   <input name="name" id="name" type="text" value="" placeholder="Name" class="form-control">
               </div>
             </div>
             <div class="col-sm-4">
               <div class="form-group">
                                   <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control">
               </div>
             </div>
             <div class="col-sm-4">
               <div class="form-group">
                                   <input name="phone" id="phone" type="text" value="" placeholder="Phone" class="form-control">
               </div>
             </div>
           </div><!-- /.row -->
           <div class="form-group">
                           <textarea name="comments" id="comments" class="form-control" rows="3" placeholder="Message"></textarea>
             <div class="editContent">
               <p class="small text-muted"><span class="guardsman">* All fields are required.</span> Once we receive your message we will respond as soon as possible.</p>
             </div>
           </div>
           <div class="form-group">
                           <button class="btn btn-primary" type="submit" id="cf-submit" name="submit">Send</button>
           </div>
         </form>
       </div><!-- /.form-container -->

     </div><!-- /.col-sm-10 -->

   </div><!-- /.container -->
 </section><!-- /.content-block -->
 <!--// END Contact Form -->
