<!DOCTYPE html>
<html>

<head>
  <title></title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-
scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/angular-toastr.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <!--TEMPLATES-->
  <script type="text/javascript" src="/jst.js"></script>
  <!--TEMPLATES END-->
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.js"></script>
  <script src="/js/dependencies/angular-animate.js"></script>
  <script src="/js/dependencies/angular-route.min.js"></script>
  <script src="/js/dependencies/angular-toastr.js"></script>
  <script src="/js/dependencies/angular-ui-router.js"></script>
  <script src="/js/dependencies/compareTo.module.js"></script>
  <script src="/js/dependencies/jquery-1.11.2.min.js"></script>
  <script src="/js/dependencies/lodash.js"></script>
  <script src="/js/app-form.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/census_js/js/citysdk.census.js"></script>
  <script src="/js/census_js/js/citysdk.ckan.js"></script>
  <script src="/js/census_js/js/citysdk.eia.js"></script>
  <script src="/js/census_js/js/citysdk.farmersMarket.js"></script>
  <script src="/js/census_js/js/citysdk.fema.js"></script>
  <script src="/js/census_js/js/citysdk.js"></script>
  <script src="/js/census_js/js/citysdk.moduleTemplate.js"></script>
  <script src="/js/census_js/js/citysdk.socrata.js"></script>
  <script src="/js/citysdk.census.js"></script>
  <script src="/js/citysdk.js"></script>
  <script src="/js/controllers/adminUsersPageController.js"></script>
  <script src="/js/controllers/editProfilePageController.js"></script>
  <script src="/js/controllers/homePageController.js"></script>
  <script src="/js/controllers/navPageController.js"></script>
  <script src="/js/controllers/profilePageController.js"></script>
  <script src="/js/controllers/questionnairesPageController.js"></script>
  <script src="/js/controllers/restorePageController.js"></script>
  <script src="/js/controllers/signupPageController.js"></script>
  <script src="/js/d3/map.js"></script>
  <script src="/js/explore.js"></script>
  <script src="/js/jquery.vmap.js"></script>
  <!--SCRIPTS END-->
  <script type="text/javascript">
    window.SAILS_LOCALS = {
      me: null
    };
  </script>
</head>

<body ng-app="cleverplacement">
  <%- partial('./partials/navigation.ejs') %>
    <%- body %>

      <%- partial('./partials/footer.ejs') %>
        </div>
</body>

</html>
